@font-face {
  font-family: 'Futura ND';
  src: url('src/assets/stylesheets/fonts/futurand/futurand-bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Futura ND Bold Oblique';
  src: url('src/assets/stylesheets/fonts/futurand/futurand-bold-oblique.woff2') format('woff2');
  font-weight: bold;
  font-style: oblique;
}

@font-face {
  font-family: 'Futura ND';
  src: url('src/assets/stylesheets/fonts/futurand/futurand-demibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Futura ND Demibold Oblique';
  src: url('src/assets/stylesheets/fonts/futurand/futurand-demibold-oblique.woff2') format('woff2');
  font-weight: 600;
  font-style: oblique;
}

@font-face {
  font-family: 'Futura ND';
  src: url('src/assets/stylesheets/fonts/futurand/futurand-medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Futura ND Medium Oblique';
  src: url('src/assets/stylesheets/fonts/futurand/futurand-medium-oblique.woff2') format('woff2');
  font-weight: 500;
  font-style: oblique;
}

@font-face {
  font-family: 'Futura ND';
  src: url('src/assets/stylesheets/fonts/futurand/futurand-book.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/*
@font-face {
  font-family: 'Futura ND';
  src: url('./assets/stylesheets/fonts/futurand/futurand-light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
*/

@font-face {
  font-family: 'Futura ND Light Oblique';
  src: url('src/assets/stylesheets/fonts/futurand/futurand-light-oblique.woff2') format('woff2');
  font-weight: 300;
  font-style: oblique;
}

/*
@font-face {
  font-family: 'Futura ND Book Oblique';
  src: url('./assets/stylesheets/fonts/futurand/futurand-book-oblique.woff2') format('woff2');
  font-weight: normal;
  font-style: oblique;
}
*/